extends layout

block title
  | socialbus dashboard

block content
  div.gridster
    ul
      li(data-row='1', data-col='1', data-sizex='2', data-sizey='1')
        div(data-id='welcome', data-view='Text', data-title='SOCIALBUS', data-text='realtime dashboard for data collection', data-moreinfo='Protip: You can drag the widgets around!')
      li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
        div(data-id='valuation', data-view='Number', data-title='Total collected', data-moreinfo='In millions', data-prefix='$')
      li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
        div(data-id='topics', data-view='List', data-unordered='true', data-title='Topics', data-moreinfo='# monitoring topics')
      li(data-row='1', data-col='1', data-sizex='1', data-sizey='1')
        div(data-id='services', data-view='List', data-unordered='true', data-title='Services', data-moreinfo='# active services')
      li(data-row='1', data-col='1', data-sizex='3', data-sizey='1')
        div(data-id='convergence', data-view='Graph', data-title='processing right now', style='background-color:#ff9618')
    center
      div(style='font-size: 12px') Try this: curl -d '{ "auth_token": "YOUR_AUTH_TOKEN", "text": "Hey, Look what I can do!" }' -H "Content-Type: application/json" http://#{request.header('host')}/widgets/welcome
