/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
 h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


* {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


html, body {
	height: 100%;
	min-height: 100%;
}

body {
	font-family: "Cambo", serif;
	font-size: 13px;
	line-height: 18px;
	background-color: #F6F6F6;
	/*background: #7CC242;*/

   	/*background-image: url(../images/rodape-left.jpg), url(../images/rodape-right.jpg);
	background-position: left bottom, right top;
	background-repeat: no-repeat;*/

}

.block {
	position: absolute;
	background: #fff;
	padding: 20px;
	width: 300px;
	border: 1px solid #ddd;
}

#the-end {
font-family: 'Georgia', 'Times', 'Times New Roman', serif;
font-size: 1.4em;
font-style: italic;
text-align: center;
}

.navbar .brand {
color: #275173;
font-family: 'Monoton', sans-serif;
font-size: 30px;
margin: 5px 0 0 -7px;
}
.navbar .brand {
display: block;
float: left;
padding: 10px 20px 10px;
margin-left: -20px;
font-size: 20px;
font-weight: 200;
color: #777;
text-shadow: 0 1px 0 #fff;
}
.pull-left {
float: left;
}

.navbar-fixed-top .navbar-inner {
background: white;
background-image: none;
-webkit-box-shadow: 0 1px 0 #bbb;
-moz-box-shadow: 0 1px 0 #bbb;
box-shadow: 0 1px 0 #bbb;
border-bottom: 1px solid #bbb;
filter: none;
height: 48px;
}
.navbar-fixed-top {
top: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
position: fixed;
right: 0;
left: 0;
z-index: 1030;
margin-bottom: 0;
}
.navbar {
margin-bottom: 20px;
overflow: visible;
}

#hashtags, .label-info-b, .badge-info-b {
background-color: #3a87ad;
color: "white";
}

#hashtags, .label-b {
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
}